<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ticketManager>
            <email>
                <send>1</send>
                <sender>general</sender>
            </email>
        </ticketManager>
    </default>
</config>
